WcfServiceApplication_Movies/WebApplication_WCF_Movies/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceApplication_Movies" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceApplication_Movies" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMovies">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Movies" nillable="true" type="tns:Movies" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMovies" nillable="true" type="tns:ArrayOfMovies" />
  <xs:complexType name="Movies">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoxOffice" type="xs:decimal" />
      <xs:element minOccurs="0" name="GenreId" type="xs:int" />
      <xs:element minOccurs="0" name="MovieId" type="xs:int" />
      <xs:element minOccurs="0" name="ReleaseDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RunningTime" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Movies" nillable="true" type="tns:Movies" />
</xs:schema>